langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-pinecone==0.1.2

pinecone==5.4.0

langchain-groq==0.1.6
groq==0.9.0

langgraph==0.2.19
tavily-python==0.7.23
langsmith==0.1.147

flask==3.1.1
gunicorn

sentence-transformers==4.1.0
pypdf==5.6.1

python-dotenv==1.1.0
langchain_huggingface
tqdm
numpy
pandas

-e .